@import './../../assets/scss/variables';

.header{
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid $fourth-color;
  @media screen and (max-width:500px) {
    height: 50px;
  }
  img{
    margin-left: 20px;
    width: 50px;
  }

  .loginBlock{
    padding: 5px 10px;
    background-color: $fifth-color;
    margin-right: 20px;
    color: $second-color;
    font-family: $textButton;
    border-radius: 3px;
  }

}