@import './../../../assets/scss/variables';

.wrapper {

  @media screen and (max-width:920px) {
    width: 100%;
  }

  .topImage {
    width: 100%;
    background-position: center;
    background-size: cover;
    @media screen and (max-width:920px) {
      width: 100%;
    }

  }

  .descriptionBlock {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    @media screen and(max-width: 720px){
      flex-direction: column;

    }

    .infoContainer {
      margin-left: 20px;
      border: 5px solid $fourth-color;
      border-radius: 10px;
      width: 300px;
      @media screen and(max-width: 720px){
        border: none;
      }

      p {
        font-family: $textButton;
        color: $second-color;
      }

      span {
        font-family: $textButton;
        color: $fourth-color;
      }
    }

    .imageContainer {

      margin-right: 60px;
      min-width: 250px;
      min-height: 250px;

      img {
        border-radius: 10px;
        border: 5px solid $fourth-color;
        width: 250px;
        height: 250px;
        @media screen and(max-width: 720px){
          margin-top: 20px;
          border: none;
        }
      }
    }

  }
}

.topImage {
  height: 200px;
  background-position: center;
  background-size: cover;

}

.descriptionBlock {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;

  .infoContainer {
    margin-left: 20px;
    border: 5px solid $fourth-color;
    border-radius: 10px;
    width: 300px;
    padding: 10px;

    p {
      font-family: $textButton;
      color: $second-color;
    }

    span {
      font-family: $textButton;
      color: $fourth-color;
    }
  }

  .imageContainer {
    //border: 5px solid $fourth-color;
    //border-radius: 10px;
    margin-right: 60px;
    min-width: 250px;
    min-height: 250px;

    img {
      width: 250px;
      height: 250px;
    }
  }

}
