.wrapper {
  .dialogs {

    @media screen and (max-width: 500px){

  }

    .dialogs_items {
      padding: 10px;
      color: white;

      &.active {
        color: gold;
      }
    }

    .messages {
      .message {
        color: white;
      }
    }
  }

  .messageInput {
    display: flex;

    .area {
      display: block;
      margin-top: 50px;
      margin-left: 10px;
      width: 500px;
      height: 50px;
    }

    .button {
      display: block;
      margin-top: 58px;
      margin-left: 25px;
      width: 140px;
      height: 40px;
    }
  }

}
