@import './../../assets/scss/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: $main-color;
  min-height: 85vh;
  @media screen and (max-width: 500px) {

  }

  .dialogs {
    display: flex;

    .dialogs_items {
      padding: 10px;
      color: white;

      &.active {
        color: gold;
      }
    }

    .messages {
      margin-left: 20px;
      display: flex;
      flex-direction: column;


      .message {
        color: white;
      }
    }
  }

  .messageInput {
    display: flex;
    align-items: center;

    .area {
      display: block;
      margin-top: 50px;
      margin-left: 10px;
      margin-bottom: 50px;
      width: 500px;
      height: 50px;
    }

    .button {
      display: block;
      margin-top: 58px;
      margin-bottom: 62px;
      height: 55px;
      width: 70px;
      margin-left: 20px;
      font-family: "Comic Sans MS";
      font-weight: 700;
      cursor: pointer;
      background-color: #62929E;
      color: #FDFDFF;
      border: none;
      border-radius: 6px
    }
  }

}
