@import './../../assets/scss/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: $main-color;
  min-height: 85vh;
  @media screen and (max-width: 500px) {

  }

  .dialogs {
    display: flex;

    .dialogs_items {
      padding: 10px;
      color: white;

      &.active {
        color: gold;
      }
    }

    .messages {
      margin-left: 20px;
      display: flex;
      flex-direction: column;


      .message {
        color: white;
      }
    }
  }

  .messageInput {
    display: flex;

    .area {
      display: block;
      margin-top: 50px;
      margin-left: 10px;
      width: 500px;
      height: 50px;
    }

    .button {
      display: block;
      margin-top: 58px;
      margin-left: 25px;
      width: 140px;
      height: 40px;
    }
  }

}
